<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="{{'ROOT.sample_page' | translate}}" cardClass="card-datatable"
      headerClass="text-center text-md-left" [hidHeader]="false" [options]="true" [loading]="loadTable">
      <p class="p-t-20">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
        anim id est laborum. </p>
      <div class="row p-2">

        <div *ngFor="let chartItem of arrayCharts" class="col-12 col-sm-6 p-2">
          <app-card cardTitle="{{chartItem.chartName}}" cardClass="card-datatable">
            <chart [type]="chartItem.type" [data]="chartItem.dataChart" [options]="options"></chart>
          </app-card>
        </div>
      </div>
      <div id="upper-buttons" class="p-2">
        <div class="row align-items-center pb-sm-1">
          <div class="col-12 col-sm-2 text-left pt-2 pt-sm-0">
            <div class="form-group mb-2">
              <label class="form-label m-b-0 f-w-600">Tipe</label>
              <ng-select [(ngModel)]="selectedTipe" name="selectedTipe" [placeholder]="Pilih" [allowClear]="true"
                [options]="types" [ngClass]="'custom bg-white'" [notFoundMsg]="'ROOT.no_data_found'|translate">
              </ng-select>
            </div>
          </div>
          <div class="col-12 col-sm-2 text-left pt-2 pt-sm-0">
            <div class="form-group mb-2">
              <label class="form-label m-b-0 f-w-600">Tanggal Mulai</label>
              <input class="form-control" type="date" [(ngModel)]="selectedStartDate">
            </div>
          </div>
          <div class="col-12 col-sm-2 text-left pt-2 pt-sm-0">
            <div class="form-group mb-2">
              <button type="button" class="btn btn-sm btn-primary" (click)="getDataByFilter()">
                Apply Filter
              </button>
            </div>
          </div>
          <div class="col-12 col-sm-2 text-left pt-2 pt-sm-0">
            <div class="form-group mb-2">
              <button type="button" class="btn btn-sm btn-danger" (click)="getAllData()">
                Reset Filter
              </button>
            </div>
          </div>
          <div class="col-12 col-sm-2 text-left pt-2 pt-sm-0">
            <div class="form-group mb-2">
              <button type="button" class="btn btn-sm btn-success" (click)="openFormTambah()">
                Tambah Data
              </button>
            </div>
          </div>
        </div>


      </div>
      <div class="table-responsive pb-1">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-hover">
          <thead class="thead-light">
            <tr>
              <th scope="col" style="padding-left: 10px">No.</th>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <!-- <th scope="col">Tipe</th>
              <th scope="col">Tanggal Mulai</th> -->
              <th scope="col">Aksi</th>
            </tr>
          </thead>
          <tbody *ngIf="dataFake.length>=0">
            <tr *ngFor="let item of dataFake; let i = index;">
              <th scope="row" style="padding-left: 10px">{{ i+1 }}</th>
              <td>{{ item.docid }}</td>
              <td>{{ item.docname }}</td>
              <!-- <td>{{ item.delegationabbreviation }}</td>
              <td>{{ item.startdate }}</td> -->
              <td class="center">
                <div class="btn-group">
                  <button title="Edit Data" class="btn btn-warning btn-sm btn-round has-ripple"
                    (click)="openFormEditView(item, 'edit')">
                    <i class="fa fa-pencil-alt"></i>
                  </button>
                  <button title="View Data" class="btn btn-primary btn-sm btn-round has-ripple"
                    (click)="openFormEditView(item, 'view')">
                    <i class="ti-eye"></i>
                  </button>
                  <button title="Approval Data" class="btn btn-success btn-sm btn-round has-ripple"
                    (click)="openFormApproval(item)">
                    <i class="icofont icofont-law-document"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </app-card>
  </div>
</div>

<app-ui-modal #modalApproval [containerClick]="false" [dialogClass]="'modal-xl'" [loading]="loadingForm">
  <div class="app-modal-header">
    <h5 class="modal-title">Approval Data</h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close"
      (click)="modalApproval.hide();"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="app-modal-body">
    <wizard #wizard [navigationMode]="'free'" class="arc-wizard py-2" navBarLayout="large-empty-symbols">
      <wizard-step stepTitle="Approval Level Manager" navigationSymbol="1">
        <div class="row">
          <div class="col-12">
            <div class="form-group smb-2">
              <label class="form-label m-b-0 f-w-600">Nama Lengkap</label>
              <div class="form-control">{{rawData?rawData.delegatefullname:'-'}}</div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group smb-2">
              <label class="form-label m-b-0 f-w-600">Posisi</label>
              <div class="form-control">{{rawData?rawData.delegatepositionname:'-'}}</div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group smb-2">
              <label class="form-label m-b-0 f-w-600">Tanggal Mulai</label>
              <div class="form-control">{{rawData?rawData.delegationabbreviation:'-'}}</div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group smb-2">
              <label class="form-label m-b-0 f-w-600">Tipe</label>
              <div class="form-control">{{rawData?rawData.startdate:'-'}}</div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group smb-2">
              <label class="form-label m-b-0 f-w-600">Alasan</label>
              <textarea [ngModel]="deskripsiApproval" class="form-control"
                (ngModelChange)="handleChangeApproval($event)" [readOnly]="viewOnlyApproval"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="align-items-center">
            <div class="col-12 text-center">
              <button *ngIf="viewOnlyApproval" class="btn btn-secondary btn-sm btn-round has-ripple" nextStep>
                Next
              </button>
              <button *ngIf="!viewOnlyApproval" class="btn btn-success btn-sm btn-round has-ripple"
                [disabled]="!deskripsiApproval" (click)="handleApproval('approved')">
                Approved
              </button>
              <button *ngIf="!viewOnlyApproval" class="btn btn-danger btn-sm btn-round has-ripple"
                [disabled]="!deskripsiApproval" (click)="handleApproval('rejected')">
                Rejected
              </button>
            </div>
          </div>
        </div>
      </wizard-step>
      <wizard-step stepTitle="Approval Level Direktur" navigationSymbol="2">
        <div class="row">
          <div class="col-12">
            <div class="form-group smb-2">
              <label class="form-label m-b-0 f-w-600">Nama Lengkap</label>
              <div class="form-control">{{rawData?rawData.delegatefullname:'-'}}</div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group smb-2">
              <label class="form-label m-b-0 f-w-600">Posisi</label>
              <div class="form-control">{{rawData?rawData.delegatepositionname:'-'}}</div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group smb-2">
              <label class="form-label m-b-0 f-w-600">Tanggal Mulai</label>
              <div class="form-control">{{rawData?rawData.delegationabbreviation:'-'}}</div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group smb-2">
              <label class="form-label m-b-0 f-w-600">Tipe</label>
              <div class="form-control">{{rawData?rawData.startdate:'-'}}</div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group smb-2">
              <label class="form-label m-b-0 f-w-600">Status</label>
              <div class="form-control">{{rawData?rawData.statusApprovalManager:'-'}}</div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group smb-2">
              <label class="form-label m-b-0 f-w-600">Alasan Manager</label>
              <textarea [ngModel]="deskripsiApproval" class="form-control" readonly></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="align-items-center">
            <div class="col-12 text-center">
              <button *ngIf="viewOnlyApproval" class="btn btn-secondary btn-sm btn-round has-ripple" previousStep>
                Back
              </button>
              <button *ngIf="!viewOnlyApproval" class="btn btn-success btn-sm btn-round has-ripple"
                (click)="handleApprovalDir('approved')">
                Approved
              </button>
              <button *ngIf="!viewOnlyApproval" class="btn btn-danger btn-sm btn-round has-ripple"
                (click)="handleApprovalDir('rejected')">
                Rejected
              </button>
            </div>
          </div>
        </div>
      </wizard-step>
      <wizard-step *ngIf="!viewOnlyApproval" stepTitle="Verifikasi Data Approval" navigationSymbol="3">
        <div class="row">
          <div class="col-12">
            <div class="form-group smb-2">
              <label class="form-label m-b-0 f-w-600">Nama Lengkap</label>
              <div class="form-control">{{rawData?rawData.delegatefullname:'-'}}</div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group smb-2">
              <label class="form-label m-b-0 f-w-600">Posisi</label>
              <div class="form-control">{{rawData?rawData.delegatepositionname:'-'}}</div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group smb-2">
              <label class="form-label m-b-0 f-w-600">Tanggal Mulai</label>
              <div class="form-control">{{rawData?rawData.delegationabbreviation:'-'}}</div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group smb-2">
              <label class="form-label m-b-0 f-w-600">Tipe</label>
              <div class="form-control">{{rawData?rawData.startdate:'-'}}</div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group smb-2">
              <label class="form-label m-b-0 f-w-600">Status Manager</label>
              <div class="form-control">{{rawData?rawData.statusApprovalManager:'-'}}</div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group smb-2">
              <label class="form-label m-b-0 f-w-600">Status Direktur</label>
              <div class="form-control">{{rawData?rawData.statusApprovalDirektur:'-'}}</div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group smb-2">
              <label class="form-label m-b-0 f-w-600">Alasan Manager</label>
              <textarea [ngModel]="deskripsiApproval" class="form-control" readonly></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="align-items-center">
            <div class="col-12 text-center">
              <button class="btn btn-secondary btn-sm btn-round has-ripple" previousStep>
                Back
              </button>
              <button class="btn btn-success btn-sm btn-round has-ripple" (click)="handleSubmit()">
                Submit
              </button>
            </div>
          </div>
        </div>
      </wizard-step>
    </wizard>
  </div>
</app-ui-modal>

<app-ui-modal #modalTambah [containerClick]="false" [dialogClass]="'modal-md'" [loading]="loadingForm">
  <div class="app-modal-header">
    <h5 class="modal-title">Tambah Data</h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close"
      (click)="modalTambah.hide();"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="app-modal-body">
    <form [formGroup]="formDataPegawai" class="md-float-material form-material" action="javascript:">
      <div class="row">
        <div class="col-12">
          <div class="form-group smb-2">
            <label class="form-label m-b-0 f-w-600">Nama Lengkap</label>
            <input type="text" class="form-control" formControlName="empName" name="empName" required>
          </div>
          <div class="form-group smb-2">
            <label class="form-label m-b-0 f-w-600">Posisi</label>
            <input type="text" class="form-control" formControlName="empPosition" name="empPosition" required>
          </div>
          <div class="form-group smb-2">
            <label class="form-label m-b-0 f-w-600">Tanggal Mulai</label>
            <input type="date" class="form-control" formControlName="startDate" name="startDate">
          </div>
          <div class="form-group smb-2">
            <label class="form-label m-b-0 f-w-600">Tipe</label>
            <ng-select [(ngModel)]="selectedTipeForm" name="selectedTipeForm" [placeholder]="Pilih" [allowClear]="true"
              [options]="types" [ngClass]="'custom bg-white'" [notFoundMsg]="'ROOT.no_data_found'|translate"
              [ngModelOptions]="{standalone: true}">
            </ng-select>
          </div>
          <div class="form-group smb-2">
            <label class="form-label m-b-0 f-w-600">Upload</label>
            <input type="file" accept="application/pdf" formControlName="url" name="url" class="form-control"
              (change)="onUploadFile($event)">
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="app-modal-footer">
    <div class="row align-items-center">
      <div class="col-12 text-center">
        <button class="btn btn-success btn-sm btn-round has-ripple" [disabled]="formDataPegawai.invalid"
          (click)="postDocument()">
          Save
        </button>
      </div>
    </div>
  </div>
</app-ui-modal>

<app-ui-modal #modalEditView [containerClick]="false" [dialogClass]="'modal-md'" [loading]="loadingForm">
  <div class="app-modal-header">
    <h5 *ngIf="formType==='edit'" class="modal-title">Edit Data</h5>
    <h5 *ngIf="formType==='view'" class="modal-title">View Data</h5>
    <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close"
      (click)="modalEditView.hide();"><span aria-hidden="true">&times;</span></button>
  </div>
  <div class="app-modal-body">
    <form [formGroup]="formDataPegawai" class="md-float-material form-material" action="javascript:">
      <div class="row">
        <div class="col-12">
          <div class="form-group smb-2">
            <label class="form-label m-b-0 f-w-600">Nama Lengkap</label>
            <input type="text" class="form-control" formControlName="empName" name="empName" required
              [readOnly]="formType==='view'">
          </div>
          <div class="form-group smb-2">
            <label class="form-label m-b-0 f-w-600">Posisi</label>
            <input type="text" class="form-control" formControlName="empPosition" name="empPosition" required
              [readOnly]="formType==='view'">
          </div>
          <div class="form-group smb-2">
            <label class="form-label m-b-0 f-w-600">Tanggal Mulai</label>
            <input type="date" class="form-control" formControlName="startDate" name="startDate"
              [readOnly]="formType==='view'">
          </div>
          <div class="form-group smb-2">
            <label class="form-label m-b-0 f-w-600">Tipe</label>
            <ng-select [(ngModel)]="selectedTipeForm" name="selectedTipeForm" [placeholder]="Pilih" [allowClear]="true"
              [options]="types" [ngClass]="'custom bg-white'" [notFoundMsg]="'ROOT.no_data_found'|translate"
              [ngModelOptions]="{standalone: true}" [disabled]="formType==='view'">
            </ng-select>
          </div>
          <div class="form-group smb-2">
            <label class="form-label m-b-0 f-w-600">Upload</label>
            <input type="file" accept="application/pdf" formControlName="url" name="url" class="form-control"
              (change)="onUploadFile($event)">
          </div>
          <!-- <div class="form-group smb-2">
            <button class="btn btn-sm btn-round has-ripple" (click)="openDoc()">Download</button>
          </div> -->
        </div>
      </div>
    </form>
  </div>
  <div class="app-modal-footer">
    <div class="row align-items-center">
      <div class="col-12 text-center">
        <button *ngIf="formType==='edit'" class="btn btn-success btn-sm btn-round has-ripple"
          [disabled]="formDataPegawai.invalid" (click)="updateDocument()">
          Save
        </button>
        <button *ngIf="formType==='view'" class="btn btn-secondary btn-sm btn-round has-ripple"
          (click)="modalEditView.hide();">
          Close
        </button>
      </div>
    </div>
  </div>
</app-ui-modal>