<div class="auth-wrapper align-items-stretch aut-bg-img">
  <div class="flex-grow-1">
    <div class="h-100 d-md-flex align-items-center auth-side-img">
      <div class="col-sm-10 auth-content w-auto">
        <h1 class="text-white my-4">{{ 'LOGIN.welcome_to' | translate }}</h1>
        <h4 class="text-white font-weight-normal text-capitalize"><i>situ</i> Framework</h4>
        <h5 class="text-white font-weight-normal">{{ 'LOGIN.sisfo' | translate }}</h5>
        <img src="assets/images/auth/auth-logo.png" alt="" class="img-fluid">
        <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
      </div>
    </div>
    <div class="auth-side-form">
      <div class=" auth-content">
        <form [formGroup]="loginForm" (submit)="doLogin($event)" class="md-float-material form-material" action="javascript:">
          <h3 class="text-c-telu f-w-400">SSO LOGIN</h3>
          <h6 class="mb-4 text-inverse f-w-400">Single Account, Single Sign On login</h6>
          <div class="input-group mb-3">
            <input type="text" class="form-control" name="username" required formControlName="username" placeholder="Username SSO" [ngClass]="loginForm.controls.username.invalid && (loginForm.controls.username.dirty || loginForm.controls.username.touched)?'is-invalid':(loginForm.controls.username.valid?'is-valid':'')">
            <label *ngIf="{'is-invalid': loginForm.controls.username.invalid && (loginForm.controls.username.dirty || loginForm.controls.username.touched)}" id="validation-email-error" class="error jquery-validation-error small form-text invalid-feedback">Please input username.</label>
          </div>
          <div class="input-group mb-4">
            <input type="password" class="form-control" name="password" required formControlName="password" placeholder="Password" [ngClass]="loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched)?'is-invalid':(loginForm.controls.password.valid?'is-valid':'')">
            <label *ngIf="{'is-invalid': loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched)}" id="validation-password-error" class="error jquery-validation-error small form-text invalid-feedback">Please enter password.</label>
          </div>
          <button class="btn btn-primary event-btn btn-block mb-0" type="submit" [disabled]="loginForm.invalid || loading">
            <span *ngIf="this.loading" class="spinner-border spinner-border-sm" role="status"></span>
            <span *ngIf="this.loading" class="load-text"> Loading...</span>
            <span *ngIf="!this.loading" class="btn-text">Login</span>
          </button>
          <div class="text-center">
            <div class="saprator cust my-4 d-block d-xl-none d-lg-none"><span style="font-size: 12px;">Powered By:</span></div>
            <img src="assets/images/auth/SITU.png" alt="" style="max-width: 50%; margin: auto;" class="img-fluid mb-4 d-block d-xl-none d-lg-none">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
